@font-face{
    font-family: 'impact';
    src: url(../fonts/impact.ttf);
}

* {
    box-sizing: border-box;
}

body{
    margin:0;
}


.img-grid-container{
    background-color:#E3E3E3;
    margin: 0 auto;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(350px, 1fr));
    grid-template-rows:repeat(auto-fill, minmax(350px, 1fr));
    gap:20px 20px;
}

/* The Images */
.img-item {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.logo{
    height: 50%;
 }
 
 .logoImg{
     object-fit: contain;
    height: 100%; 
}

button[class*="btn"]{
    height: 45%;
    ;
    width: 16.26%;
    cursor: pointer;
    border-radius: 10px;
    background-color: #FFFFFF;
    border-style: none;
}

.icon{
    height: 70%;
    width: 70%;
    object-fit: contain;
}
.btn{
    width:16.26%;
    border-radius: 10px;
    background-color: #FFFFFF;
    border-style: none;
}

.main-content{
    max-width:1200px ;
    margin: 0 auto;
}
select{
    border-color:  #FFFFFF;
    border-radius: 10px;
    width: 58.4%;
    border-style: none;
}


.control-box>input{
    width: 100%;
    border-radius: 10px;
    border-style: none;
}    

.meme-generator-container{
    background-color:#E3E3E3;
    padding: 25px 50px;
    width:100%;
    /* max-height: 600px; */
    display: flex;
    align-items: center;
    
}    

canvas {
    border: 1px solid black;
    max-height: 550px;
    width: 100%;
    height: 100%;
}

.canvas-container{
    width: 50%;
    margin-right: 50px;
}

.editor-menu-container{     
    background-color: #E3E3E3;
    margin: 0 auto;
    width: 375px;
    height: 550px;
    }

    .menu{
        display: none;
    }

@media(max-width:750px) {
    .meme-generator-container{
        flex-direction: column;
    } 
    
    .canvas-container{
        width: 100%;
        margin:0px auto 20px ;
    }

    .editor-menu-container{
        height:350px;
        width: 100%;     
    }
    
    .img-grid-container{
    grid-template-columns:repeat(auto-fill, minmax(165px, 1fr));
    grid-template-rows:repeat(auto-fill, minmax(165px, 1fr));
    }

    .nav-bar{
        position: fixed;
        visibility: hidden;
        text-align: center;
        flex-direction: column;
        width: 80%;
        margin: 10%;
        transform: translateY(0); 
       
    }
   
    .main-nav{
        padding-inline-end: 20px !important;
        padding-inline-start: 20px !important;
    }
    
    .menu-open .nav-bar {
        transform: translateY(100%) ;
        transition: transform .8s;
        visibility: visible;
    }

    .menu{
        color:  #fff;
        font-size: 2.5em;
        display: block;
        cursor: pointer;
    }

    .nav-bar li {
        border-bottom: 1px solid #ccc; 
        background-color:rgb(82, 81, 81, 90%); 

    } 
    

}

.control-box{
    height: 135px;
    align-content: space-between;
}

.control-box>*{
    height: 61px;
}

.font-style-container{
height: 135px;
/* width: 100%; */
align-content: space-between;
}

.font-style-container>*{
    height: 61px;
}

.sticker-containar{
    height: 135px;
    width: 100%;
}

.action-container{
    width:100%;
    height: 11%;
}




html{
    font-family: lato-reg, sans-serif;
}


/* .header{
    background-color:#FF7F00;
    height: 66px;
    justify-content: center;
width: 1200px;
} */
    
}
.nav-cotainer{
    width: 1200px;
}
.main-nav{
    padding-inline-start: 50px;
    padding-inline-end: 50px;
    background-color:#FF7F00;
    width: 100%;
}
footer{
    background-color:#FF7F00;
    height: 210px;
    justify-content: center;
    /* position: fixed; */
}
.logoImg{
    height: 40px;
}
.logoImg-footer{
    height: 50px;
}


.nav-bar >* :hover{
    border-bottom: solid #040A2C;
    color:#040A2C;
}

.social-link *{
    background-color: #E5E5E5;
    height: 41px;
    width: 41px;
    margin: 10px;
    padding: 15px 14px 12px 12px;
    }
    
    *.social-link :hover{
    background-color:#516FAD;
    }

.menu-btn{
display:none;
}

ul{
    height: 66px;
    line-height: 66px;
}
.nav-bar > li *{
    padding: 21px;
    text-decoration: none;
    font-family: eurofurence, sans-serif;
    color: #FFFFFF;
    height: 100%;
}

.creator{
    height: 500px;
    width: fit-content;
    margin:0 auto
}
.creator-img{
    border-radius: 50%;
    height:325px;
    width:325px;
}

.about-txt{
    margin-inline-start: 50px;
}


.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.filter-bar{
    height: 100px;
    padding:50px;
}

.filter-words>*{
    margin-inline-start: 50px;
}

.search{
    border: none;
    border-bottom: 1px solid black;
}

.flex{
    display: flex;
}

.flex.align-center{
    align-items: center;
}

.flex.space-between{
justify-content: space-between;
}

.flex.space-around{
    justify-content: space-around;
}

.flex.column{
    flex-direction: column;
}

.flex.wrap{
    flex-wrap: wrap;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

form{
    height: 100px;
}

form > button{
    width: 120px !important;
    background-color:#FF7F00 !important;
    color: #FFFFFF;
    font-size: 19px;
    
    

}
